.change-password-form {
    display: flex;
    flex-direction: column;
    gap:20px;
}

.change-password-form button {
    margin-top: 10px; /* Thêm một chút khoảng cách riêng cho nút bấm */
    align-self: flex-start; 
}

